#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid red;
  width: 100%;
}

.formSide {
  display: flex;
  flex-direction: column;
  flex: 0 1 40%;
  border: 1px solid yellow;
  padding: 0.5rem;
}

.formSide textarea {
  width: 100%;
  resize: vertical;
}

.resumeSide {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  width: 100%;
  padding: 0.5rem;
}