#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  height: 100vh;
  justify-content: space-between;
  gap: 2rem;
  border: 1px solid red;
  width: 100%;
}

.formSide {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  border: 1px solid yellow;
}

.formSide textarea {
  width: 100%;
}

.resumeSide {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid blue;
}